{% extends "qunit/base.html" %}
{% load url from future %}

{% block extrahead %}
  {% for remote_url in suite.remote_urls %}<script type="text/javascript" src="{{ remote_url }}"></script>
  {% endfor %}
  {% for local_url in suite.local_urls %}<script type="text/javascript" src="{{ STATIC_URL }}{{ local_url }}"></script>
  {% endfor %}
  {% for file in files %}<script type="text/javascript" src="{{ file }}"></script>
  {% endfor %}
{% endblock extrahead %}

{% block title %}({{ suite.name }}){% endblock title %}

{% block content %}
  <div id="navigation">
    <a href="..">..</a>
    {% for suite in subsuites %}
    <a href="{{ suite }}/">{{ suite }}</a>
    {% endfor %}
  </div>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
{% endblock content %}
